$padding: 16px;
h1, h2, h3, h4, h5, h6 {
  color: #B6446F;
  }
html, body {

  display: grid;
  grid-template-rows: 1fr 5fr auto;
  grid-template-columns: 1fr;
  margin: 0;

  }

.header {
  .logo-link {
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
    }
  background-color: #fcf8fd;
  padding-top: $padding;
  padding-bottom: $padding;
  top: 0;
  height: 100px;
  }

.header, .main, .footer {
  h1, h2, h3, h4, h5, h6 {
    color: #B6446F;
    }
  //position: absolute;
  width: 100%;
  }

.main {
  h1, h2, h3, h4, h5, h6 {
    color: #B6446F;
    }
  padding-left: $padding;
  top: 130px;
  width: 98%;
  overflow: auto;
  }


.footer {
  position: fixed;
  z-index: 999;
  background-color: #fcf8fd;
  padding-top: $padding;
  padding-bottom: $padding;
  bottom: 0;
  p {
    padding-left: $padding;
    }

  }
