<header class="header" id="header">
  <mat-toolbar color="primary" role="heading">
    <mat-toolbar-row role="banner">
      <a routerLink="/home" class="logo-link">
        <img [ngSrc]="'assets/logo/logo-project-manager.svg'" alt="logo" class="logo" width="50" height="50">
        <h1>Project Manager</h1>
      </a>
      </mat-toolbar-row>

<mat-toolbar-row role="navigation">

  <mat-menu #appMenu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item *ngFor="let item of sites; index as i;"
              routerLink="{{item.path}}">
        <mat-icon>{{ item.icon }}</mat-icon>
        {{ item.title }}
      </button>
    </ng-template>

  </mat-menu>

    <button mat-button [matMenuTriggerFor]="appMenu">
      Menu
      <mat-icon>menu</mat-icon>
    </button>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<main class="main" id="main">
  <router-outlet/>
</main>

<footer role="contentinfo" class="footer" id="footer">
  <p>
    &copy; <span id="currentYear"></span> Wikonire. Alle Rechte vorbehalten.
  </p>
</footer>
