<header class="header" id="header">
  <mat-toolbar color="primary" role="heading">
    <mat-toolbar-row role="banner"><h1>Project Manager</h1></mat-toolbar-row>
    <mat-toolbar-row role="navigation">
      <a mat-button routerLink="home"><mat-icon >home</mat-icon>Home</a>
      <a mat-button routerLink="project-overview"><mat-icon>view_list</mat-icon>Projects Overview</a>
      <a mat-button routerLink="account"><mat-icon>account_circle</mat-icon>User Account</a>
      <a mat-button routerLink="user-management"><mat-icon>supervised_user_circle</mat-icon>User Management</a>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<main class="main" id="main">
  <router-outlet />
</main>
<footer role="contentinfo" class="footer" id="footer">
  <p>
    &copy; 2024 Federal Office of Information Technology, Systems and
    Telecommunication FOITT
  </p>
</footer>
