$padding: 16px;

html, body {
  display: grid;
 grid-template-rows: 1fr 5fr auto;
  margin: 0;
  }

.header {
  background-color: #fcf8fd;
  padding-top: $padding;
  padding-bottom: $padding;
  top: 0;
  height: 100px;
  }

.header, .main, .footer {
  position: absolute;
  width: 100%;
  }

.main {
  display:block;
  width: 100%;
  top: 130px;
  padding: $padding;
  }


.footer {
  background-color: #fcf8fd;
  padding-top: $padding;
  padding-bottom: $padding;
  bottom: 0;

  }
