<header class="header" id="header">
  <mat-toolbar color="primary" role="heading">
    <mat-toolbar-row role="banner">
      <a routerLink="/start" class="logo-link">
        <img [ngSrc]="'assets/logo/logo-project-manager.svg'" alt="logo" class="logo" width="50" height="50">
        <h1>Project Manager</h1>
      </a>
      </mat-toolbar-row>

    <mat-toolbar-row role="navigation">
      <button mat-button [routerLink]="'home'" routerLinkActive="active" *ngIf="isLoggedIn">
        <mat-icon>home</mat-icon>
        Account
      </button>
      <button mat-button [routerLink]="'project-list'" routerLinkActive="active" *ngIf="isLoggedIn">
        <mat-icon>lists</mat-icon>
        Projekt-Liste
      </button>

      <button mat-button [routerLink]="'login'" routerLinkActive="active" *ngIf="!isLoggedIn">
        <mat-icon>login</mat-icon>
       Login
      </button>
      <button mat-button  (click)="onLogout()"  [routerLink]="'logout'" routerLinkActive="active" *ngIf="isLoggedIn">
        <mat-icon>logout</mat-icon>
        Logout
      </button>


    </mat-toolbar-row>
    </mat-toolbar>
</header>

<main class="main" id="main">

  <router-outlet/>
</main>

<footer role="contentinfo" class="footer" id="footer">
  <p>
    &copy; <span id="currentYear"></span> Wikonire. Alle Rechte vorbehalten.
  </p>
</footer>
