

mat-card {
  h2 {
    margin: 10px 0 0;
    }
  padding: 20px;
  margin:20px;
  }
button {
  margin: 10px;
  }
.container {
  background-color: rgba(252, 248, 253, 0.49);
  margin: 10px auto 100px;
  display: flex;
  flex-direction: column;

  }
dl {
  margin-top: 30px;
  margin-bottom: 0;
  }
dt:first-child {
  margin-top: 0;
  }
mat-progress-bar {
  margin: 5px 0 30px;
  }
dt {
  font-weight: bold;
  margin-top: 30px;

  }

dd {
  margin: 5px 0 0 0;

  }

.priority-label {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  }

