
.mat-mdc-form-field-infix, input, textarea, div.mat-mdc-text-field-wrapper.mdc-text-field, mat-form-field, mat-mdc-form-field-focus-overlay, mdc-text-field--filled .mat-mdc-form-field-type-mat-input{
  width: 100%;

}
.width500 {
  width: 500px;
  }

dl {
  margin-top: 30px;
  margin-bottom: 0;
  }
dt:first-child {
  margin-top: 0;
  }
mat-progress-bar {
  margin: 5px 0 30px;
  }
dt {
  font-weight: bold;
  margin-top: 30px;

  }

dd {
  margin: 5px 0 0 0;

  }
